/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: sans-serif;
  font-size: var(--main-font-size);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bj-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--gradient-grid) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--gradient-grid) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--gradient-filling-start) 0.01%,
      var(--gradient-filling-end) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

@supports (font-variation-settings: normal) {

  .page {
    font-family: var(--main-font, sans-serif);
  }
}

.border-decor {
  border: var(--border-width) var(--border-style) var(--theme-color);
  /*Почему-то с этим классом граница не раблотает у кнопок*/
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  inline-size: var(--content-inline-size);
  font-family: var(--accent-font);
  text-transform: uppercase;
  margin: 0 auto 100px;
  background-color: var(--bj-color);
}

.header__logo {
  color: var(--theme-color);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  text-decoration: none;
  pointer-events: none;
}

.header__logo:focus {
  outline: none;
}

.header__logo:focus-visible {
  outline: var(--border-width) var(--border-style) var(--theme-color);
  outline-offset: 5px;
}

.header__title {
  color: var(--theme-color);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-top: 20px;
}

.theme-menu {
  margin: 25px 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
}

.button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--theme-color);
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  /*transition: opacity 0.3s ease;*/
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  /*transition: opacity 0.3s ease;*/
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: block;
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 2;
  animation: indicator 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: absolute;
  inline-size: calc(100% - 10px);
  block-size: 2px;
  inset-block-end: -1px;
  inset-inline-start: 5px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
  background-color: var(--theme-color);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content {
  display: grid;
  gap: var(--content-gap);
}

.card {
  position: relative;
  background-color: var(--bj-color);
  inline-size: var(--content-inline-size);
  margin: 0 auto;
}

.card__title {
  font-size: inherit;
  color: var(--theme-color);
  padding: 5px 10px;
  font-variation-settings: "wdth" var(--wdth-title);
}

.card__picture-box {
  position: relative;
  border-bottom: var(--border-width) var(--border-style) var(--theme-color);
  border-top: var(--border-width) var(--border-style) var(--theme-color);
}

.card__picture-item {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter-contrast {
  filter: contrast(1.2);
}

.filter-blur {
  filter: blur(2px);
}

.filter-invert {
  filter: invert(100%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-sepia {
  filter: sepia(25%);
}

.filter-opacity {
  filter: opacity(90%);
}

.filter-contrast-saturate {
  filter: contrast(1.3) saturate(120%);
}

.card__decor {
  position: absolute;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  color: var(--theme-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--bj-color),
    0 1px var(--bj-color),
    1px 0 var(--bj-color),
    0 -1px var(--bj-color);
}

@supports (
  (text-stroke: 1px var(--bj-color)) or
    (-webkit-text-stroke: 1px var(--bj-color))
) {

  .card__decor {
    -webkit-text-stroke: 1px var(--bj-color);
    text-stroke: 1px var(--bj-color);
    text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--theme-color);
  font-variation-settings: "wdth" var(--wdth-text);
  gap: 27px;
  margin: 25px;
}

.card__button-box {
  display: flex;
  justify-content: end;
  gap: 12px;
  inline-size: 100%;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  border: var(--border-width) var(--border-style) transparent;
  transition: border-color 0.3s ease;
  margin: 0;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--theme-color);
}

.like-icon {
  position: relative;
  inset-inline-end: 2px;
}

.card__like-button {
  position: relative;
  inset-inline-end: end;
  inline-size: 130px;
  block-size: 38px;
  border: var(--border-width) var(--border-style) var(--theme-color);
  margin: 0 25px 25px 0;
  padding: 9px 17px;
}

.button-effects {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.button-effects:focus {
  outline: none;
}

.button-effects:focus-visible {
  box-shadow: 2px 2px 0px var(--theme-color);
}

.button-effects::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: var(--button-hover-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button-effects:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  color: var(--theme-color);
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 90%;
}

.save__box {
  display: flex;
  justify-content: center;
  inline-size: 100%;
}

.save__box__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: clamp(19.375rem, 18.7148rem + 2.8169vw, 21.25rem);
  background-color: var(--bj-color);
  border: var(--border-width) var(--border-style) var(--theme-color);
  padding: 15px;
}

.save__box__button-svg {
  inline-size: 28px;
  aspect-ratio: 1/1;
}

.dialog__save {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  gap: 30px 20px;
  flex-wrap: wrap;
  /* inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  Работает только так почему-то с медиазапросом */
  min-inline-size: 341px;
  border: var(--border-width) var(--border-style) var(--theme-color);
  padding: 30px 40px;
}

.dialog__save::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__save[open] {
  display: flex;
  background-color: var(--bj-color);
}

.dialog__button-svg {
  color: var(--theme-color);
  inline-size: 39px;
  aspect-ratio: 1/1;
}

.dialog__save-text {
  display: block;
  color: var(--theme-color);
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 150%;
  text-transform: uppercase;
  flex: 1 1 0;
}

.dialog__form {
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
}

.dialog__button {
  inline-size: 100%;
  block-size: 38px;
  border: var(--border-width) var(--border-style) var(--theme-color);
  padding: 9px 17px;
}

@media (375px < width) {

  .dialog__save {
    padding: 30px;
    inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  }
}

@media (1300px < width) {

  .save__box__button {
    flex-direction: row;
  }

  .save__box__button-svg {
    inline-size: 21px;
  }
}
